/* ========== Root ========== */

:root {
    /* Białe */

    --color-white: white;
    --color-whiteAlmost: rgb(245,245,245);

    /* Szare i srebne */

    --color-grey: grey;
    --color-darkGrey: rgb(30,30,30);
    --color-silver: silver;
    --color-lightSilver: rgb(235,235,235);

    /* Czarne */

    --color-black: black;
    --color-charcoal: #121212;
    --color-greyBlack: rgb(39,39,39);

    /* Niebieskie */

    --color-blueYoutubelink: rgb(62,166,255);

    /* === Kolory light-dark === */
    
    color-scheme: light dark;

    --light-dark-whiteBlack: light-dark(var(--color-white),var(--color-black));
    --light-dark-whiteAlmostBlack: light-dark(var(--color-whiteAlmost),var(--color-black));
    --light-dark-whiteCharcoal: light-dark(var(--color-white),var(--color-charcoal));

    --light-dark-blackWhite: light-dark(var(--color-black),var(--color-white));
    --light-dark-charcoalWhiteAlmost: light-dark(var(--color-charcoal),var(--color-whiteAlmost));

    /* === Kolory użytkowe === */

    --primary: var(--light-dark-blackWhite);
    --background: var(--light-dark-whiteBlack);
    --background-background: var(--light-dark-whiteCharcoal); /* Tło do głównej części strony */
    --background-sticky: var(--light-dark-whiteAlmostBlack);
    --background-navigation: var(--light-dark-whiteCharcoal);
    --background-button: var(--color-black); /* Tymczasowe, zmienione później w .js, ALE NIE USUWAJ TEGO!!! */

    --container: light-dark(var(--color-lightSilver),var(--color-darkGrey));
    --outline: var(--light-dark-blackWhite);

    --shadow: var(--color-black);

    /* Kolory do tekstu */

    --mainText: var(--light-dark-blackWhite);
    --text: var(--light-dark-blackWhite);
}

/* ========== Jasny i ciemny motyw ========== */

.light {
    color-scheme: light;
}
.dark {
    color-scheme: dark;
}

/* ========== Elementy ========== */

* {
    box-sizing: border-box;    
}

body {
    background-color: var(--background-background);
    color: var(--text);

    margin: 0;
    
    font-family: "Newsreader", sans-serif;

    overflow-x: hidden;
}

h1 {
    font-weight: 800;
    display: inline;
}

a {
    color: var(--color-blueYoutubelink);
}

button {
    color: var(--color-white);
    background-color: var(--background-button);

    height: 50px;
    
    border: none;
    border-radius: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* === Strona główna === */

main {
    display: flex;
    flex-direction: column;

    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

main.active {
    transform: translateX(100px);
}

/* ========== ID ========== */

/* === Podstrona wyszukiwarka === */

#browser main {
    display: flex;
    flex-direction: column;
}

#browserPager {
    width: 100%;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    position: fixed;
    bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#browserPager.hidden {
    transform: translateY(250%);
}

#browserPager ul {
    display: flex;
    gap: 10px;
    margin: 0;
    justify-content: center;
}

#browserPager li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

#browserPager li:hover, li.currentPage {
    background-color: var(--color-silver);
    border-radius: 30px;
}

#browserPagerPages {
    background-color: var(--container);
    padding: 5px;
    border-radius: 50px;
}

/* === Header === */

#head header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

/* === Polecane === */

#polecane {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

#polecane h1 {
    flex: 0 0 100%;
    text-align: center;
}

/* === Wyszukiwarka === */

#wyszukiwarka {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

#wyszukiwarka.hidden {
    transform: translateY(-100%);
}

#wyszukiwarka input {
    width: 50%;
    min-width: 250px;

    height: 50px;
    
    margin-top: 25px;
    
    border-radius: 50px;
    border: none;
            
    box-sizing: border-box;
    text-align: left;

    padding-left: 20px;
    padding-right: 20px;

    background-color: var(--container);
}

#wyszukiwarka input::placeholder {
    color: var(--color-grey);
}

#wyszukiwarka input:focus {
    outline: none;
}

/* === Ikony na sticky headerze === */

#logo {
    position: absolute;
    left: 50%;
    top: -5px;
    transform: translateX(-50%);  
}

#headIkonyPoPrawej {
    min-width: 85px;
    display: flex;
    gap: 15px;
}

#menu-icon:hover {
    cursor:pointer;
}

#koszykIkona:hover {cursor:pointer;}
#kontoIkona:hover {cursor:pointer;}

#mode-switch:hover {
    cursor:pointer;
}

/* === Nawigacja === */

#nawigacja {
    position: fixed;
    transform: translateX(-104%); /* 104%, żeby cień był widoczny podczasz animacji ukrywania, ale nie był widoczny po */
    top: 70px;
    width: 200px;
    height: calc(100vh - 70px);
    background-color: var(--background-navigation);
    box-shadow: 0 -3px 6px -3px var(--shadow);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    border-right: 2px solid var(--light-dark-whiteBlack);

}

#nawigacja.active {
    transform: translateX(0);
}

#nawigacja nav ul {
    list-style:none;
    color: var(--text);
    font-family: "Newsreader", sans-serif;
}

#nawigacja nav ul li {
    padding: 10px;
}

#nawigacja nav ul li a {
    color: var(--text);
    text-decoration:none;
}

#nawigacja nav ul li a:hover {
    text-decoration: underline;
}

/* === Lista elementow wyszukiwarki === */

#browserList {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-top: 80px;
    margin-bottom: 200px;
}

/* ========== Klasy ========== */

/* === Książka === */

.ksiazka {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}

.ksiazka img {
    max-width: 300px;
    max-height: 200px;
    width: auto;
    height: auto;
    padding: 10px;
    transition: transform 0.3s ease;
}

.ksiazka .tytul {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.ksiazka .autor {
    font-size: 0.625rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 0.25rem;
}

.ksiazka:hover {
    background-color: var(--color-silver);
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
}

.ksiazka:hover img {
    transform: scale(1.1);
}

.ksiazki_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    width: 60%;
    margin: 0 auto;
}


.browserElement {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    border: 1px solid var(--outline);
    padding: 25px;
    cursor: pointer;
    max-height: 200px;
}

.browserElement img{
    max-height: 150px;
}

.bookInfo {
    display: flex;
    flex-direction: column;
}

/* === Sticky === */

.sticky {
    position: sticky;
    top: 0;
    padding: 0px 25px;
    background-color: var(--background-sticky);
    margin-bottom: 20px;
    z-index: 1001;
    box-shadow: 0 -3px 6px var(--shadow);
}

.unselectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.disabled {
    opacity: 20%;
}

/* ========== Animacje ========== */
