/* ========== Root ========== */

:root {
    color-scheme: light dark;

    /* Białe */
    --color-white: white;
    --color-eggshell: #f5e8d8;

    /* Szare i srebne */
    --color-grey: grey;
    --color-darkGrey: rgb(30,30,30);
    --color-silver: silver;
    --color-lightSilver: rgb(235,235,235);

    /* Czarne */
    --color-black: black;
    --color-oil: #1c1c1c;

    /* ~Pomarańczowe */
    --color-salmon: #ff6f61;
    --color-orangeRed: #ff4500;

    /* === Kolory użytkowe === */
    --primary: light-dark(var(--color-black),var(--color-white));
    --background: light-dark(var(--color-white),var(--color-black));

    --container: light-dark(var(--color-lightSilver),var(--color-darkGrey));
    --outline: light-dark(var(--color-black),var(--color-white));

    --shadow: light-dark(var(--color-black),var(--color-white));

    /* Kolory do tekstu */
    --mainText: light-dark(var(--color-black),var(--color-white));
    --text: light-dark(var(--color-black),var(--color-white));
    
}

/* ========== Jasny i ciemny motyw ========== */

.light {
    color-scheme: light;
}
.dark {
    color-scheme: dark;
}

/* ========== Elementy ========== */

* {
    box-sizing: border-box;    
}

body {
    background-color: var(--background);
    color: var(--text);

    margin: 0;
    
    font-family: "Newsreader", sans-serif;
}

h1 {
    font-weight: 800;
    display: inline;
}

main {
    display: flex;
    flex-direction: column;
}

/* ========== ID ========== */

/* === Header === */

#head header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

/* === Polecane === */

#polecane {
    display: flex;
    flex-direction: column;
}

#polecane h1 {
    flex: 0 0 100%;
    text-align: center;
}

#polecane_ksiazki {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    width: 60%;
    margin: 0 auto;
}

/* === Wyszukiwarka === */

#wyszukiwarka {
    display: flex;
    justify-content: center;
    align-items: center; 
}

#wyszukiwarka input {
    width: 50%;
    min-width: 250px;

    height: 50px;
    
    margin-top: 25px;
    
    border-radius: 50px;
    border: none;
            
    box-sizing: border-box;
    text-align: left;
    padding-left: 20px;

    background-color: var(--container);
}

#wyszukiwarka input::placeholder {
    color: var(--color-grey);
}

/* === Ikony na sticky headerze === */

#menu-icon:hover {
    cursor:pointer;
}

#mode-switch:hover {
    cursor:pointer;
}

/* === Nawigacja === */

#navigacja {
    position: fixed;
    transform: translateX(-100%);
    top: 70px;
    width: 200px;
    height: calc(100vh - 70px);
    background-color: var(--background);
    box-shadow: none;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

#navigacja.active {
    transform: translateX(0);
    box-shadow: 0 -3px 6px -3px var(--shadow);
}

#navigacja nav ul {
    list-style:none;
    color: var(--text);
    font-family: "Newsreader", sans-serif;
}

#navigacja nav ul li {
    padding: 10px;
}

#navigacja nav ul li a {
    color: var(--text);
    text-decoration:none;
}

#navigacja nav ul li a:hover {
    text-decoration: underline;
}

/* ========== Klasy ========== */

.ksiazka {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}

.ksiazka img {
    max-width: 300px;
    max-height: 200px;
    width: auto;
    height: auto;
    padding: 10px;
    transition: transform 0.3s ease;
}

.ksiazka .tytul {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.2;
}

.ksiazka .autor {
    font-size: 0.625rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 0.25rem;
}

.ksiazka:hover {
    background-color: var(--color-silver);
    transition: background-color 0.1s ease-in-out;
}

.ksiazka:hover img {
    transform: scale(1.1);
}

.sticky {
    position: sticky;
    top: 0;
    padding: 0px 25px;
    background-color: var(--background);
    margin-bottom: 20px;
    z-index: 1001;
    box-shadow: 0 -3px 6px var(--shadow);
}

.unselectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* ========== Animacje ========== */