/*=============================================*/
                        /*Elementy*/

body {
    background-color: #000000;
}

h1 {
    font-family: Comic Sans MS;
    color: white;
    text-shadow: 2px 2px 4px #BBBBBB;
    display: inline;
    white-space: nowrap;
}

main {
    display: flex;
    flex-direction: column;
}

textarea:focus, input:focus{
    outline: none;
}

/*=============================================*/

                    /*Id*/

#move h1 {
    animation: move 10s linear infinite;
}

#polecane_ksiazki {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

#polecane {
    display: flex;
    flex-direction: column;
}

#polecane h1 {
    flex 0 0 100%;
    text-align: center;
}


#wyszukiwarka {
    display: flex;
    justify-content: center;
    align-items: center; 
}

#wyszukiwarka input {
    width: 10%;
    height: 25px;
    background-color: #16161d;
    border-color: purple;
    color: beige;
}

/*=============================================*/

                        /*Klasy*/

.ksiazka {
    background-color: rgba(200,200,200,0.5);
    height: 150px;
    flex: 0 0 10%;
    width: 10%;
}

.ksiazka:nth-child(4n) {
    content: "";
    flex-basis: 100%;
    height: 0;
}

.sticky{
    position: sticky;
    top: 0;
    background-color: #000000;
}
/*=============================================*/

                        /*Animacje*/

@keyframes move {
  0% {
    margin-left: 0%;
  }

  50% {
    margin-left: 77%;
  }

  100% {
    margin-left: 0%;
  }
  
}

/*=============================================*/